.THIS {
    z-index:100;
    width:100%;
    padding-left:0;
}

.THIS.about_ddl_open ,
.THIS.user_ddl_open   {
    margin-bottom: -27px;
}

.THIS .logo {
    width: 490px;
    display: inline-block;
    position: absolute;
    top: 17px;
} 

.THIS .menu {
    display: inline-block;
    height: 96px; 
    vertical-align: middle;
    position: relative;
    right: 490px;
}

.THIS .menu > ul > li > a ,
.THIS .menu > ul > li > button {
    height: 99px;
    border-bottom: 6px solid transparent;
    display: block;
    line-height: 99px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    outline: 0 none;
    padding: 0 23px;
}

 

.THIS .menu > ul > li > a:hover , 
.THIS .menu > ul > li > a:focus,
.THIS .menu > ul > li > button:focus,
.THIS .menu > ul > li > button:hover {
    border-bottom: 6px solid #a3caff;
    color:#a3caff;
}

.THIS .dropDownItems {
    position: absolute;
    background: #fff;
    box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
    border-top: 6px solid #a3caff;
    right: 86px;
    top: 92px;
}

.THIS .dropDownItems li a {
    line-height: 48px;
    color:#000;
}
.THIS .dropDownItems li {
    padding:0 38px;
}

.THIS .dropDownItems li:hover {
    background-color: #e6ebf8;
}

.THIS .dropDownItems li span, 
.THIS .dropDownItems li a {
    line-height:49px;
    text-decoration: none;
}

.THIS svg {
    fill:#fff;
}

.THIS .navMainItem button {
    float: left;
    padding: 0 30px;
    color: #fff;
    margin-left: 38px;
}

.THIS .navMainItem svg {
    width:18px;
    height: 18px;
}

.THIS .navWrapper {
    background-color:#1a3660; 
    color:white;
    height:99px;
    padding-right: 15px;
    position: absolute;
    width: 100%;
    top:0px;
}

.THIS .mainNavigation {
    max-width:  token(maxPageWidth);
    margin: 0 auto;
    height: 100%;
}

.THIS.opened {
    box-shadow:  0px 1px 20px 0 rgba(25, 25, 25, 0.2);
    padding-bottom: 20px;
    z-index: 3;
    background: #fff;
    margin-bottom: -88.5px;
    height:188px;
    position: absolute;
    top:0;
}

.THIS li.navMainItem.search {
    width: 100px;
}
.THIS .HeaderMenu li {
    float:right;
}
.THIS .aHam 
{
    color:black;
}

.THIS .hamburger:hover {
    cursor: pointer;
}

.THIS .new{
    color: white;
    /* margin-left:2%; */
    /* height:100% */
}
.THIS .desktop_header {
    display: inline-block;
    height: 100%;
}
.THIS .mobile_header {
    display: none;
}

.THIS .searchPanel {
    width: 1230px;
    display: block;
    margin: 0 auto;
    position: relative;
    top:120px;
}

.THIS .subMenuIcon {
    width: 33%;
    padding:10px 0 5px;
    padding-bottom:5px;
}

.THIS .subMenuIcon a {
    color:#000;
    font-family: t(fontBold);
    font-size: 16px;
}

.THIS .subMenuIcon img {
    display: block;
    margin: 0 auto;
    padding:10px 0 5px;
}
.THIS .subMenuSingleIcon img {
    margin:0;
    display: inline;
    margin-left: 12px;
    margin-top: -10px;
}

.THIS .ddl_user .dropDownItems {
    right: 336px;
}

.THIS .menu > ul > li.ddl > a {
    background: url(/resource/communityAssets/menu-open.png) 15px 48px;
    background-repeat: no-repeat;
    padding-left:30px;
}
.THIS .menu > ul > li.ddl-open > a {
    background-image: url(/resource/communityAssets/menu-close.png);
}
.THIS .searchBtnHead {
    background-image: url(/resource/communityAssets/search.png);
    background-repeat: no-repeat;
    background-position: 23px 38px;
}

.THIS .unreadButton {
    background-color: #ff0041;
    color:#fff;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 100%;
    position: relative;
    top: -10px;
    right: -3px;
}

@media only screen and (max-width: 1230px) {
    .THIS.opened {
        height: 157px;
    }

    .THIS.about_ddl_open {
        POSITION: fixed;
        TOP: 0;
    }

    .THIS .logo {
        background-image: url(/resource/communityAssets/logo_mobile.png);
        background-repeat: no-repeat;
        color: #fff;
        background-position: right;
        padding-right: 40px;
        margin-right: 0;
        font-size: 22px;
        font-family: t(fontBold);
        position: relative;
        top: 4px;
        width:auto;
    }

    .THIS .logo {
        display: block;
        margin: 0 auto 0;
        background-image: url(/resource/communityAssets/logo_mobile_full.png);
        color: transparent;
        width: 225px;
        margin-right: 55px;
    }

    .THIS .searchPanel {
        width: auto;
        top:94px;
    }

    .THIS .sidePanel {
        top: 0px;
        display: block;
        width: 100vw;
        position: fixed;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        z-index: 10;
    }
    .THIS .sidePanel nav {
        background-color: white;
        width: 312px;
        height: 100vh;
        padding-top: 75px;
    }
    .THIS .navWrapper {
        height: 75px;
        z-index: 15;
    }

    .THIS .searchButtonMobile {
        position: absolute;
        left: 15px;
    }

    .THIS .menuToggle {
        width: 24px;
        height: 18px;
        background: transparent;
        display: block;
        position: absolute;
        background-image: url(/resource/communityAssets/bars-solid.png);
        top: 29px;
        right: 24px;
    }
    
    .THIS.about_ddl_open .menuToggle {
        background-image: url(/resource/communityAssets/close-siderbar.png);
        background-repeat: no-repeat;
    }

    .THIS .logo 
    {
        display: inline-block;
        clear:none;
    }

    .THIS .logo a {
        font-size:22px;
        color:#fff;
    }

    .THIS .logo a:hover {
        text-decoration: none;
    }

    .THIS .desktop_header {
        display: none;
    }
    
    .THIS .mobile_header , .THIS .demo-only {
        display:  inline-block;
    }
    
    .THIS .userBtn , .THIS .searchBtn {
        position: absolute;
        left: 13px;
        top: 26px;
    }

    .THIS .searchBtn {
        background-image: url(/resource/communityAssets/search.png);
        width: 21px;
        height: 21px;
    }

    .THIS .userBtn {
        background-image: url(/resource/communityAssets/user-solid.png);
        width: 16px;
        height: 19px;
    }
    
    .THIS .searchBtn {
        left: 60px;
    }
        
    .THIS .hamburger {
        margin:11px 11px 11px 17px;
    }
}

@media only screen and ( max-width: 395px ) { 
    .THIS .logo {
        width: calc(100vw - 170px);
        background-size: calc(100vw - 170px);
    }
}