.THIS .bottomLine { 
    padding-top: 8px;
}

.THIS .slds-file{
    width: 50%;    
}

.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 30%;
    padding: 0% !important;

}

.THIS .fileItem
{
    padding: 4px 0px;
}

.THIS .groupVisible
{
    display: inline-flex;
}

.THIS .groupHidden
{
    display: none;
}
.THIS .parent {
    justify-content: center;
    position: relative;
    /* width: 100%; */
    /* padding: 50%; */
   }    

   .THIS .image_outer {
    position:absolute;
    z-index:1;
    width:50%;    
    bottom:0px; 
    right:0px;     
  }
   .THIS .image_inner {
    position:absolute;
    z-index:2;
    width:30%;
    top:10px; right:10px; 
  }