.THIS {
    text-align: right;
    font-size: 18px;
    padding: 0 0 20px;
    background-color:#fff;
    padding-top: 1px;
}
.THIS h2 , .THIS h2 a {
    font-size: 22px;
    color:#4b6bdf;
    font-family: t(fontBold);
    margin:31px 0 15px;
    line-height: 22px;
    text-decoration: none;
}

.THIS .dateComment {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0 29px 0 12px;
    border-radius: 100px 0 0 100px;
    color: white;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #29a335;
    text-align: -webkit-center;
    width: 300px;
    font-family: t(fontBold);
    font-size: 18px;
    color: #ffffff;
    right: 0;
    position: relative;
    line-height: 44px;
}

.THIS .dateComment.closed {
    background:  #dde4f5;
    color:black
}

.THIS .fontCls {
    font-family: t(fontNormal);
}

.THIS .fa-file-pdf {
    color: #cb2229;
    font-size: 22px;
}

.THIS .fa-file-word {
    color: #2a5699;
    font-size: 22px;
}

.THIS .lawCardHeader {
    font-family: t(fontBold);
}

/* styles for '...' */

.THIS .block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
    font-size: 18px;
    font-family: t(fontNormal);
    color: #000000;
}

.THIS .HideMenu {
    display: none !important;
}

.THIS .lawcard_file {
    font-family: t(fontNormal);
    font-size: 18px;
    color: #4b6bdf;
    padding-right:0px;
    margin-bottom: 15px;
}
.THIS .lawcard_text {
    padding-right:0px;
    margin-bottom: 19px;
}
.THIS .lawcard_file a{
    color:#4b6bdf;
    text-decoration: underline;
}
.THIS .cardBody {
    padding: 0 10px 0 0;
    display: inline-block;
    max-width: 865px;
}

.THIS .go_to_page_button {
    float: left;
    position: relative;
    top: -42px;
    padding-left: 29px;
}

.THIS .go_to_page_button button {
    border-radius:0px;
    min-width:133px;
    width: auto;
    background-color:#264b89;
    height:100%;
    justify-content: center;
    text-align:-webkit-center;
    color:white;
    font-size: 18px;
    font-family: t(fontNormal);
    border: 0 none;
    line-height: 48px;
    padding: 0 20px;
}

.THIS.lawCard.singleComment  {
    width: auto;
    border: 0 none;
}

.THIS.lawCard {
    width: 1022px;
}

.THIS .cardImage 
{
    float: right;
    padding: 31px 0 20px 0;
    overflow: hidden;
    width:128px;
}
.THIS .cardImage img {
    height: 50px;
    margin: 0 auto;
    display: block;
}

.THIS .Icon-tzkir img {
    height: 40px;
}

.THIS .tabletOnly {
    display: none;
}

.THIS footer {
    border: 0 none;
    margin: 20px 0 0;
    padding-top: 20px;
    border-top: 2px solid #eff2f9;
}

@media only screen and (max-width: 1230px) {
    .THIS {
        font-size: 16px;
        padding: 0 29px;
    }

    .THIS a {
        color: #747474;
    }
    
    .THIS .desktopOnly {
        display: none;
    }
    .THIS .tabletOnly {
        display: inline;
    }
    .THIS .header-account {
        color:#747474;
    }
    .THIS .cardImage {
        padding-right:0;
    }
    .THIS .cardImage img {
        width: auto;
        height: 32px;
        margin-top: -12px;
    }

    .THIS .tablet-row {
        clear: both;
        display: block;
    }
    .THIS h2 {
        clear: both;
        margin-top: 25px;
    }
    
    .THIS h2 , .THIS h2 a {
        font-size: 18px;
    }

    .THIS.lawCard {
        width: 664px;
        position: relative;
    }

    .THIS .dateComment {
        position: absolute;
        top: 17px;
        right: 382px;
        border-radius: 0 50px 50px 0;
        width: 240px;
        font-size: 16px;
        line-height: 32px;
    }

    .THIS .go_to_page_button {
        float: none;
        width:100%;
        top:0;
    }

    .THIS .go_to_page_button button {
        margin: 0 auto;
        display: block;
        width:100%;
        font-size: 16px;
        line-height: 44px;
    }
    .THIS .cardBody {
        margin-right: 0px;
        clear:both;
        display: block;
        padding: 0 29px 0;
    }

    .THIS footer {
        border: 0 none;
        padding-bottom: 20px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 950px) {
    .THIS.lawCard {
        width: 100%;
        border-right: 0px;
        border-left: 0px;
    }
    .THIS .dateComment {
        right: calc(100% - 250px);
        padding: 2px 5px;
    }
}