.THIS .btnPadInner
{
    width:65%;
    background-color: #264b89;
    color: white;
    border-radius: 0;
    height: 3rem;
}

.THIS .bigHead
{
    padding:0;
}

.THIS .headerText {    
    font-family: Assistant;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;  
    color: #000000;
    }
.THIS .regText{
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #000000;
}