.THIS {
}

.THIS .LoadMore {
    color: #000;
    margin-top: 27px;
    width: 213px;
    height: 48px;
    border: solid 1px #747474;
    background-color: rgba(255,255,255,0.5);
    font-size: 16px;
    position: absolute;
    left: calc( 50% - 105px);
}