.THIS .MySelected {
    background-color: #264b89 !important;
}

.THIS .MyInvertedImage {
    -webkit-filter: invert(1);
}

@media only screen and (max-width: 600px) {
	.THIS .font-size_filter {
        font-size: 13px !important;
        text-align: center !important;
        margin-bottom: 3%;     
        font-weight: bold;   
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.THIS .font-size_filter {
        font-size: 18px !important;
        text-align: right !important;
        margin-bottom: 3%;     
        font-weight: bold;   
    }     
}