.THIS {
	background: #fff;
	padding: 31px 25px 20px 10px;
	margin-bottom: 20px;
}

.THIS.reply {
	margin-right: 156px;
}

.THIS .commentInner {
	display: table;
}

.THIS .userIcon {
	display: table-cell;
	width:65px;
}

.THIS .commentTexts {
	display: table-cell;
	vertical-align: top;
    width: 100%;
    padding-right: 20px;
}

.THIS .username {
	font-family: t(fontBold);
}

.THIS .commentDate {
	color: #747474;
	display: inline;
}

.THIS .commentBody {
	margin-top:24px;
	max-width: 678px;
    overflow: hidden;
}

.THIS.reply .commentBody { 
	max-width: 608px;
}

.THIS .commentSection {
	display: flex;
}

.THIS .sectionLabel {
	width:135;
	min-width: 135px;
}

.THIS .bySectionTitle {
	font-family: t(fontBold);
	font-size: 16px;
	color: #747474;
}

.THIS .section {
	font-family: t(fontBold);
	color: #000;
}

.THIS .visibility {
	background-image: url(/resource/communityAssets/lock.png);
	background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    position: relative;
    top: 4px;
    margin-right: 3px;
}

.THIS .visibility.public {
	background-image: url(/resource/communityAssets/globe.png);
}


.THIS .documentLink {
	display: block;
}

.THIS .gotoPage {
	display: block;
	margin-top: 20px;
}