@font-face {
	font-family: t(userIconFont);
	src: url(/resource/ArimoFont/Arimo-Bold.ttf);
}

.THIS.userNameIcon {
	width: 47px;
	height: 45px;
	background-color:#aaa;
    text-align: center;
	border-radius: 50px;
    display: block;
    font-family: t(userIconFont);
    line-height: 45px;
    font-size: 25px;
    
}

.THIS.anonymous {
    background-image: url(/resource/communityAssets/user.png);
    background-position: -38px -29px;
} 

.THIS.gov {
    background: #1a3660 url(/resource/communityAssets/comment-govIcon.png);
    background-position: center center;
    background-repeat: no-repeat;
} 


.THIS.size-m {
    width:73px;
    height:72px;
    line-height: 72px;
    font-size: 47px;
}
.THIS.size-l {
    width:100px;
    height:96px;
    line-height: 96px;
    font-size: 47px;
}
@media only screen and (max-width: 950px) {
    .THIS.size-m {
        width:47px;
        height:45px;
        line-height: 45px;
        font-size: 29px;
    }
    .THIS.anonymous
    {
        background-position: -26px -21px;
        background-size: 100px 100px;
    }
}