.THIS .nextBtn
{
    background-color:#264b89;
    border-radius:0;
    width: 173px;
    height: 48px;
    margin-right:2%;
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #ffffff;

}

.THIS .cnslBtn
{
    width: 173px;
    height: 48px;
    background-color: #eff2f9;
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;

}