.THIS .slds-file{
    width: 30%;         
}
.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 20%;
    padding: 0% !important;

}
.THIS img{
    padding-top: 0%;
    width: 0%;
}

.THIS .slds-image__crop{
    width: 100%;
}