.THIS {
    width: 1023px;
    margin: 0 auto;
}

.THIS * {
    text-align: right;
    font-size: 18px;
}

.THIS .header h2 {
    font-family: t(fontNormal);
    font-size: 46px;
    text-align: center;
}

.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
}

.THIS section.overlay .slds-modal__container {
    background: #fff;
    padding: 40px 64px 40px;
    width: 566px;
    height: auto;
    top: 131px;
    text-align: center;
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}
.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
}

.THIS section.overlay .slds-modal__container {
    background: #fff;
    padding: 40px 64px 40px;
    width: 566px;
    height: auto;
    top: 131px;
    text-align: center;
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}

.THIS section.overlay button.close
{
    position: absolute;
    top: -12px;
    left: 5px;
    border: 0 none;
    color: #000;
    line-height: 18px;
    background-color: #fff;
}

.THIS section.overlay h3 {
    font-size: 36px;
    color:#000;
    padding-bottom:42px;
    text-align: center;
}

.THIS .popupContent {
    max-width: 270px;
    margin: 0 auto;
}

.THIS .popupContent button {
    width:100%;
}

.THIS .has-error {
    border-color:#e60039;
}

.THIS .header {
    margin-bottom: 29px;
}

.THIS .content {
    display: flex;
    margin-bottom: 100px;
}
.THIS .form-fields {
    order:1;
    width: 473px;
    padding-left: 62px;
    border-left: 1px solid #d2d4d9;
}

.THIS .or-devider {
    order: 2;
    width: 50px;
    position: relative;
    right: -27px;
    text-align: center;
    background: #fff;
    height: 31px;
    top: 260px;
    color:#747474;
}
.THIS .forgotButton {
    text-align: left;
    top: -15px;
    position: relative;
}
.THIS .accountsLogin {
    order:3;
    width: 473px;
}
.THIS .form-fields button {
    width:100%;
    line-height:48px;
}
.THIS .accountsLogin button {
    margin-bottom: 23px;
}

.THIS .accountsLogin button > span {
    margin-left:9px;
}

.THIS .fieldWrapper {
    min-height: 100px;
    vertical-align: top;
}

.THIS .fieldWrapperCB {
    min-height: 60px;
}

.THIS .fieldWrapper label
{
    width: 410px;
    display: block;
}

.THIS input.field  {
    line-height: 48px;
}

.THIS .uiInputCheckbox {
    display: inline;
    margin-left: 11px;
    padding-right: 22px;
    vertical-align:middle; 
}

.THIS .slds-checkbox {
    margin-bottom: 26px;
}

.THIS .slds-checkbox .slds-form-element__label {
    font-size: 18px;
    color:#000;
}

.THIS .required  {
    float: right;
    margin: 0 0 0 5px;
}

.THIS .halfLine {
    width:200px;
    display: inline-block;
}

.THIS .halfLine.first {
    margin-left:10px;
}

.THIS .errorField {
    border-color: red;
}

.THIS .ErrorMsg {
    padding:10px 0;
}

.THIS .ErrorMsg ,  
.THIS .ErrorMsg  li
{
    color: red;
}
.THIS .fa-google::before {
    content: "\f1a0";
    float: right;
} 
.THIS .fa-facebook-f::before {
    content: "\f39e";
    float: right;
} 
.THIS .bColorF{
    background-color: #3c5a99;
    height: 48px;
    font-size: 18px;
    text-align: center;
    /* font-family: Assistant !important; */
}

.THIS .bColorG{
    background-color: #4285f4;
    height: 48px;
    /* font-family: Assistant; */
    font-size: 18px;
}

.THIS .bReg{
    background-color: #264b89;
    height: 48px;
    font-size: 18px;
}

.THIS .registrationImage
{
    position: relative;
    top: 500px;
    right: -20px;
}

.THIS.login .registrationImage
{
    bottom: -15px;
    top: auto;
}

@media only screen and (max-width: 1050px) {

    .THIS {
        width:100%;
        padding:0 26px;
    }

    .THIS .halfLine {
        width:100%;
    }
    
    .THIS .labelClass {
        font-size: 16px;
    }

    .THIS .content {
        display: block;
    }
    .THIS .form-fields {
        width: 100%;
        border-left: 0 none;
        border-top: 1px solid #d2d4d9;
        padding:31px 0 ;
    }
    
    .THIS .or-devider {
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 14px;
        font-size: 18px;
        margin-top:34px;
    }
    
    .THIS .accountsLogin {
        width: 100%;
    }
        
    .THIS .registrationImage
    {
        display: none;
    }

    .THIS section.overlay .slds-modal__container {
        width: calc( 100% - 100px);
        margin-right: 50px;
    }
    
}