.THIS .new-ellipse-style {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #e60039;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	color: white;
}
.THIS .text-truncate {
	line-height: 1.375em;
	max-height: 11em;
	overflow: hidden;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.THIS .moj-ellipse-style {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: #1a3660;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17.5px;
		color: white;
	}
	.THIS .reply-title-font {
		font-size: 16px;
		font-weight: bold;
	}
	.THIS .reply-date-font {
		font-size: 16px;
	}
	.THIS .reply-body-font {
		font-size: 16px;
	}
	.THIS .show-more-font {
		font-size: 16px;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.THIS .moj-ellipse-style {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: #1a3660;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17.5px;
		color: white;
	}
	.THIS .reply-title-font {
		font-size: 16px;
		font-weight: bold;
	}
	.THIS .reply-date-font {
		font-size: 16px;
	}
	.THIS .reply-body-font {
		font-size: 16px;
	}
	.THIS .show-more-font {
		font-size: 16px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.THIS .moj-ellipse-style {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: #1a3660;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 17.5px;
		color: white;
	}
	.THIS .reply-title-font {
		font-size: 16px;
		font-weight: bold;
	}
	.THIS .reply-date-font {
		font-size: 16px;
	}
	.THIS .reply-body-font {
		font-size: 16px;
	}
	.THIS .show-more-font {
		font-size: 16px;
	}
}	
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.THIS .moj-ellipse-style {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #1a3660;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		color: white;
	}
	.THIS .reply-title-font {
		font-size: 18px;
		font-weight: bold;
	}
	.THIS .reply-date-font {
		font-size: 18px;
	}
	.THIS .reply-body-font {
		font-size: 18px;
	}
	.THIS .show-more-font {
		font-size: 18px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.THIS .moj-ellipse-style {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #1a3660;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		color: white;
	}
	.THIS .reply-title-font {
		font-size: 18px;
		font-weight: bold;
	}
	.THIS .reply-date-font {
		font-size: 18px;
	}
	.THIS .reply-body-font {
		font-size: 18px;
	}
	.THIS .show-more-font {
		font-size: 18px;
	}
}