/*To override the text, you'll need to set the size of the current text to 0 and to add some content to the before selector of the button*/
.THIS lightning-input span.slds-form-element__label{
	display: none;
}
.THIS .slds-pill{
	/* @noflip */direction: ltr;
}
.THIS .slds-file-selector__dropzone{
    width:396px;
    height:81px;
}
.THIS .slds-file-selector__body{
    width:396px;
    height:81px;
    justify-content: center;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}
.THIS .slds-file-selector__dropzone .slds-file-selector__button:before{
    content: 'בחירת קובץ';
    font-size: 0.75rem; /*Default token for font size 0.75rem*/
    color: #0070d2; /*Default token for brand color #0070d2*/
}
.THIS .slds-file-selector__text{
    font-size: 0;
}
.THIS .slds-file-selector__text:before{
    content: 'או גרירת קובץ';
    font-size: 0.75rem;
}
.THIS .fileIcn svg{
    cursor: pointer;
}
.THIS .mainMemo .slds-textarea{
    height:188px !important;
    width: 100% !important;
}

.THIS .NameOfLawItem .slds-textarea{
    height:188px !important;
    width: 100% !important;
}

.THIS .fadeIn{
    animation: fadeIn 0.1s;
    corner-radius: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }
    25% {
        opacity: 0.25;

    }
    50% {
        opacity: 0.5;

    }
    75% {
		opacity: 0.75;
    }
    100% {
		opacity: 1;
    }
}