.THIS .itemHeader b
{
    font-size: 36px !important;
    font-family: Assistant !important;
    font-weight: 600 !important;
}
.THIS .itemBody h2
{
    font-size: 24px !important;
    font-family: Assistant !important;
}
.THIS .itemBody
{
    font-size: 18px !important;
    font-family: Assistant !important;
}
.THIS .rtling
{
    direction: rtl !important;
}
@font-face {
    font-family: 'Assistant';
    src: url(/resource/AssistantFont/Assistant-Light.woff2);
  }