.THIS .bottomLine { 
    padding-top: 8px;
}

.THIS .slds-file{
    width: 50%;    
}

.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 30%;
    padding: 0% !important;

}

.THIS .fileItem
{
    padding: 4px 0px;
}

.THIS .groupVisible
{
    display: inline-flex;
}

.THIS .groupHidden
{
    display: none;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}