.THIS {
}

.THIS h3 {
    margin-top: 0px;
    padding-top: 0px;
}

.THIS .gear {
    width: 18px;
    height: 18px;
    background-image: url(/resource/communityAssets/gear.png);
    display: block;
    background-repeat: no-repeat;
    float: left;
}

.THIS hr {
    margin: 15px 0 25px;
    background-color: #d2d4d9;
}

.THIS .userName {
    font-size: 22px;
}

.THIS .logout {
    color:#747474; 
    font-size: 16px;
    margin: 30px auto 0;
    display: block;
    text-align: center;
}
.THIS .inner {
    width: 1230px;
    display: block;
    margin: 0 auto;
}

.THIS .tab {
    line-height: 36px;
    padding-right: 13px;
    display: block;
    color: #000;
}

.THIS .tab:hover {
   text-decoration: none;
}

.THIS .active {
    border-right: 6px solid #4b6bdf;
    color:#4b6bdf;
    text-decoration: none;
}

.THIS .barOne {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    padding:0 30px 50px;
    position: absolute;
    top: 132px;
}

.THIS .userNameIcon  {
    margin: 0 auto 20px;
}

.THIS .barTwo {
    display: inline-block;
    padding:0 30px;
    margin-bottom: 65px;
    margin-right: 240px;
}

.THIS .mainInner {
    padding:32px 0;
    width:879px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 1230px) {
   
    .THIS .logout ,
    .THIS h3 ,
    .THIS h4 ,
    .THIS hr {
        display: none;
    }

    .THIS .tab {
        width: 33%;
        text-align: center;
        display: inline-block;
    }

    .THIS .tab.active {
        border-bottom: 6px solid #4b6bdf;
        border-right: 0 none;
        color:#4b6bdf;
    }

    .THIS .barOne ,
    .THIS .barTwo ,
    .THIS .mainInner,
    .THIS .inner {
        width: 100%;
        display: block;
        position: inherit;
        margin-right: 0;
    }

    .THIS .mainInner {
        background: transparent;
        padding:0;
    }

    .THIS .barOne {
        padding: 0px;
    }

    .THIS .barTwo {
        background-color: #eff2f9;
        padding: 20px 0 160px;
        margin-bottom: -40px;
    }
}