.THIS .fileGroup
{ 
    width: 95%;
}

.THIS .slds-file{
    width: 50%;    
}

.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 20%;
    padding: 4% !important;

}

.THIS img{
    width: 15%;
}

.THIS .groupVisible
{
    display: inline-flex;
}

.THIS .groupHidden
{
    display: none;
}