.THIS {
	width: 1000px;
	margin: 0 auto 50px;
	padding-left: 200px;
}

.THIS .halfLine  {
    width: 395px;
    display: inline-block;
    vertical-align: top;
}

.THIS .halfLine.first {
    margin-left: 10px;
}

.THIS .uiLabel span {
	float: right;
	color:#747474;
}

.THIS .formField {
    margin: 15px 0;
}

.THIS input[type='text'] {
    line-height: 48px;
} 

.THIS .buttons {
    height:100px;
}

.THIS .buttons button {
    float:left;
    margin-left: 41px;
    width:173px;
}

.THIS button.clearFilters {
    background:transparent;
    color:#4b6bdf;
    border: 0 none;
    margin-left: 10px;
}

.THIS button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}

.THIS .error_message {
    color: rgb(194, 57, 52);
}

.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.THIS section.overlay div {
    background: #fff;
    padding: 40px 64px 78px;
    width: 477px;
    height: auto;
    top: 131px;
    text-align: center;
	display: block;
    margin: 0 auto;
    position: relative;
}

.THIS section.overlay h2 {
	margin-bottom: 0;
}

.THIS section.overlay p {
	font-size: 22px;
	font-family: t(fontBold);
} 

.THIS section.overlay div.success {
	background-image: url(/resource/communityAssets/sent.png);
    padding-top: 311px;
    background-repeat: no-repeat;
    background-position: center 80px;
}

@media only screen and (max-width: 950px) {
    .THIS {
		margin: 0 auto;
		padding: 20px;
		width:auto;
    }

    .THIS .halfLine ,
    .THIS .uiInput  {
        width:100%;
    }
}