.THIS .closeModalBtn {
    border: none !important;
    background: none !important;
    /*@noflip*/ right:0rem !important;
}
.THIS .slds-textarea{
    height: 100px;
}
.THIS .slds-dropdown{
    /*@noflip*/right: -50%;
}
.THIS .icn svg{
	fill: dodgerblue;
}
.THIS .hide svg{
	display: none;
}
.THIS .errorIcn{
    height: 10px;
    width: 0%;
    position: absolute;
    bottom: 5.5px;
    right: 83.5px;
    cursor:pointer

}
.THIS .slds-icon_xx-small svg{
    position: absolute;
    bottom: 5.5px;
    right: 83.5px;

}
.THIS .icn2 svg{
	fill: red;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: white;
}
.THIS .icn3{
    width: 1rem;
    height: 1rem;
    position: relative;
    border-radius: 50%;
    background: rgb(221, 219, 218);
    border: 0px solid rgb(255, 255, 255);
    vertical-align: middle;
}
.THIS .icn4 svg{
    fill: red !important;
    color: red !important;
    border-color: rgb(194, 57, 52);
    border-radius: 1rem;
    background-color: red;
}
.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);

}
.THIS .fadeIn{
    animation: fadeIn 0.1s;
    corner-radius: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }
    25% {
        opacity: 0.25;

    }
    50% {
        opacity: 0.5;

    }
    75% {
		opacity: 0.75;
    }
    100% {
		opacity: 1;
    }
}