
.THIS {
    background: #fff;
    padding: 20px 40px;
    width: 880px;
}

.THIS .halfLine  {
    width: 395px;
    display: inline-block;
    vertical-align: top;
}

.THIS .halfLine.first {
    margin-left: 10px;
}

.THIS .uiLabel span {
    float: right;
}

.THIS .formField {
    margin-bottom: 25px;
}

.THIS input[type='text'], 
.THIS input[type='password']  {
    line-height: 48px;
} 

.THIS .buttons {
    height:100px;
}

.THIS .buttons button {
    float:left;
    margin-left: 41px;
    width:173px;
}

.THIS button.clearFilters {
    background:transparent;
    color:#4b6bdf;
    border: 0 none;
    margin-left: 10px;
}

.THIS button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}

.THIS .error_message {
    color: rgb(194, 57, 52);
}

@media only screen and (max-width: 1230px) {
    .THIS {
        margin: 0 auto
    }
}
@media only screen and (max-width: 900px) {
    .THIS {
        width:auto;
    }

    .THIS .halfLine ,
    .THIS .uiInput  {
        width:100%;
    }
}