@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../webfonts/fa-solid-900.eot?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h");
  src: url("../webfonts/fa-solid-900.eot?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("woff2"), url("../webfonts/fa-solid-900.woff?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("woff"), url("../webfonts/fa-solid-900.ttf?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h") format("truetype"), url("../webfonts/fa-solid-900.svg?orgId=00D1t000000uX5h&orgId=00D1t000000uX5h#fontawesome") format("svg");
}

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}