.THIS .btnPad3
{
    background-color: #16325c !important;
    color: white !important;
    width: 100% !important;
    font-family: Assistant;
    font-size: 16px;
}

.THIS .slds-listbox-item{
    font-family: Assistant;
    font-size: 16px;
    color: #3758cf;
}

.THIS .clearFilter{
    font-family: Assistant;
    font-size: 18px;
    color:#4b6bdf !important;; 
}
.THIS lightning-pill
{
    background-color: #dae1f9;
    border-color: #4b6bdf;
    color: #4b6bdf;
    margin-left: 0.75rem;
}

.THIS .slds-pill__remove svg{
    fill: #4b6bdf;
}
.THIS .btnPad2
{
    background-color: #16325c !important;
    color: white !important;
    width: 80% !important;
    font-family: Assistant;
    font-size: 16px;

}
.THIS .chckboxMobile
{
    margin-bottom: 18%;
}
.THIS .recTypeDesktop
{
    /* padding: 5%; */
}
.THIS .slds-listbox-item
{
    direction: ltr;
    padding-bottom: 0.5rem;
}
.THIS .chekcbx
{
    padding-bottom: 12%;
}
.THIS .slds-radio_button
{
    border-left: solid 1px;
    border-color: lightgray;
}
.THIS .txtColor
{
    color: grey !important;
}
.THIS .slds-radio_faux
{
    padding: 0.25rem !important;
}
.THIS .slds-pill_container
{
    border: none !important;
    background-color: #fffef3 !important;
}
.THIS fieldset
{
    border: none;
}

.THIS .headerText{      
    font-family: Assistant;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;
  }

  .THIS .regularText{    
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #000000;
  }

  .THIS .regularTextLarge{
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #000000;
  }

 

  .THIS .subText{    
    font-family: Assistant;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #747474;
  }

.THIS .lawRemoveBtn 
{
    color: black;
    border: solid 1px rgb(212, 212, 212);
    font-size: small;
    /* width: 75%; */
    background-color: #dae1f9;
    border-color: #4b6bdf;
    color: #4b6bdf;
}
.THIS .lawRemoveBtn lightning-primitive-icon
{
    float: right;
}
.THIS .slds-button:active
{
    color:#16325c !important;
}

.THIS .slds-radio_button [type="radio"]:checked + .slds-radio_faux, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--faux, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio_faux, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio--faux, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--button__label, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_faux, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--faux, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio_faux, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_button__label, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--button__label 
{
    background-color: #16325c;
    color: white;
}
    
.THIS .slds-radio_button [type="radio"]:checked + .slds-radio_faux:hover, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_faux:focus, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--faux:hover, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--faux:focus, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio_faux:hover, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio_faux:focus, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio--faux:hover, .THIS .slds-radio_button [type="radio"]:checked ~ .slds-radio--faux:focus, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label:hover, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label:focus, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--button__label:hover, .THIS .slds-radio_button [type="radio"]:checked + .slds-radio--button__label:focus, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_faux:hover, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_faux:focus, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--faux:hover, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--faux:focus, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio_faux:hover, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio_faux:focus, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux:hover, .THIS .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux:focus, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_button__label:hover, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio_button__label:focus, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--button__label:hover, .THIS .slds-radio--button [type="radio"]:checked + .slds-radio--button__label:focus 
{
background-color: #16325c;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
    .THIS .slds-form-element__label{
        font-family: Assistant;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;    
        letter-spacing: normal;    
        color: #747474;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
    .THIS .slds-form-element__label{
        font-family: Assistant;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;    
        letter-spacing: normal;    
        color: #000000;
      }
}