.THIS .btnPad2
{
    background-color: #16325c !important;
    color: white !important;
    width: 80% !important;
    font-family: Assistant;
    font-size: 16px;
}


.THIS .headerText{      
    font-family: Assistant;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;
  }

  .THIS .regularText{    
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #000000;
  }

  .THIS .slds-form-element__label{
    font-family: Assistant;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #747474;
  }

  .THIS .subText{    
    font-family: Assistant;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #747474;
  }