.THIS {
  background-color: #1a3660;
  padding-top:74px;
} 

.THIS * {
  color:white
}

.THIS .content {  
  width: 100%;
  margin: 0 auto 58px;
  text-align: center;
}

.THIS button {
  margin: 0 auto;
}

.THIS .bottom {
  background-color: #fff;
  height: 56px;
}
.THIS .bottom * {
  color:#000;
}

.THIS .bottom .content {
  max-width: 1230px;
}

.THIS .bottom .right ,
.THIS .bottom .left
{
  width: 49.5%;
  line-height: 56px;
  text-align: center;
  display: inline-block;
}
@font-face {
  font-family: 'Assistant';
  src: url(/resource/AssistantFont/Assistant-Light.woff2);
}
@media only screen and (max-width: 1050px) {

  .THIS {
    padding-top: 32px;
  }

  .THIS .content { 
    margin-bottom: 45px;
  }

  .THIS .bottom {
    height:96px;
  }

  .THIS .bottom .right ,
  .THIS .bottom .left
  {
    width: 100%;
    line-height: 48px;
  }

  .THIS .bottom .left
  {
    background-color: #e8e8e8;
  }
}