.THIS .text{
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;    
    color: #000000;
}

.THIS .slds-form-element__label{
    line-height: 2.22;
    font-size: 18px;
}