.THIS.header {
    font-size: 35px;
} 
.THIS .fa-google::before {
    content: "\f1a0";
    float: right;
} 
.THIS .fa-facebook-f::before {
    content: "\f39e";
    float: right;
} 

.THIS .parent {
    justify-content: center;
    justify-items: center;
    position: relative;
    width: 100%;    
   }   
   .THIS .image_outer {
    position:absolute;
    z-index:1;
    width:7%;    
    bottom:10%; left:70%; 
  }

  .THIS .btn-refer {
    justify-content: center;
    position: relative;
    /* width: 50%;
    padding: 30%; */
   }
   .THIS .errorField {
    border-color: red;
}
.THIS .bColorF{
  background-color: #3c5a99;
  height: 48px;
  font-size: 18px;
}

.THIS .bColorG{
  background-color: #4285f4;
  height: 48px;
  font-size: 18px;
}

.THIS .labelLogin{
    font-family: Assistant;
    font-size: 18px; 
    text-align: right; 
    color: #747474;
}

.THIS .forgotButton{
    text-align: -webkit-left; 
    font-size:18px;
}
.THIS .checkboxSign{
    padding-top: 2%;
    text-align: -webkit-right;
}


.THIS .fieldHeght{
    height: 48px;
}

.THIS .bReg{
  background-color: #264b89;
  height: 48px;
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
	.THIS .search {
            width:90%; 
            padding-right:10%;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {	
    .THIS .search {
        width:80%; 
        padding-right:20%;
    }
}

/* Small devices (cellphones) */
@media only screen and (max-width: 600px) {	   
    .THIS .search {
        width:96%; 
        padding-right:4%;
        margin-top:0%;
        padding-bottom:1%;            
    }
}