.THIS .slds-file{ 
    width: 50%;    
}

.THIS .slds-file__title{
    display: flex;
    z-index: 5;
    align-items: center;
    height: 30%;
    padding: 0% !important;

}

.THIS .fileItem
{
    padding: 4px 0px;
}