.THIS .btnPad2
{
    background-color: #264b89 !important;
    color: white !important;
    padding: 0.45% !important;
    width: 15% !important;
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
}
.THIS .btnPad3
{
    padding: 0.45% !important;
    width: 15% !important;   
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    color:#4b6bdf !important;
}

.THIS .headerText{    
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;
}

.THIS .regText{ 
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: normal;    
    color: #000000;
}