.THIS .headerText {    
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #000000;
}
.THIS .regText{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;   
    letter-spacing: normal;    
    color: #000000;
}