.THIS .parent {
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 30%;
    
   }    

   .THIS .image_outer {
    position:absolute;
    z-index:1;
    width:50%;    
    bottom:0px; 
    right:20px;     
  }
   .THIS .image_inner {
    position:absolute;
    z-index:2;
    width:30%;
    bottom:20px; right:32px; 
  }