.THIS.wrapper {
	max-width:  token(maxPageWidth);
	width:  token(maxPageWidth);
	margin:0 auto;
	padding: 0 70px;
}

.THIS .pageMain {
	display: table;
	width: 100%;
	margin-bottom:177px;
}

.THIS .pageMain article ,
.THIS .sidebar {
	display: table-cell;
}

.THIS .pageMain article {
	width: 780px;
    display: inline-block;
    padding: 32px 0 0 32px;
}

.THIS h2 {
	font-size: 36px;
	font-family: t(fontBold);
	margin-bottom: 34px;
	clear: both;
}
.THIS.wrapper h5 , .THIS.wrapper h3{
	font-size: 22px;
	font-family: t(fontBold);	
	color:#000;
}

.THIS .pageMain article .lawBody {
	width:635px;
	max-width: 635px;
	margin-top:41px;
	margin-bottom: 177px;
}

.THIS .lawBody p { 
	margin:15px 0;
}

.THIS .sidebar {
	width: 245px;
    max-width: 245px;
    border-right: 1px solid #d2d4d9;
    padding-right: 32px;
    margin-top: 41px;
    display: inline-block;
    vertical-align: top;
}
.THIS .sidebar .classifications span {
	padding-left: 7px;
}
.THIS .sidebar .classifications span::after {
	content: ', ';
}
.THIS .sidebar .classifications span:last-child::after {
	content: '';
}

.THIS .bubble  {
	box-sizing: content-box;
    border-radius:0 100px 100px 0;
	font: normal 16px;
	line-height: 44px;
    color: white;
    background-color: #29a335;
    text-align: center;
    font-size: 18px;
	color: #ffffff;
	float: left;
	width: 280px;
    position: relative;
    top: -50px;
}
.THIS .bubble.closedForPublic {
	background-color: #dde4f5;
	color:#000;
}

.THIS .addComment {
	background-color: #e6ebf8;
	padding:30px 26px 15px;
	display: table;
	margin-top: 12px;
} 

.THIS .userNameIconWrapper , 
.THIS .addCommentFields {
	display: table-cell;
}
.THIS .userNameIconWrapper {
	width: 100px;
    vertical-align: top;
    padding-top: 5px;
}
.THIS .addCommentFields
{
	width:884px;
	max-width: 884px;
}
.THIS .commentTextField label {
	display: none;
}

.THIS .commentButtons
{
	display: block;
    width: 100%;
	clear: both;
	margin-top:66px;
}
.THIS .slds-file-selector__dropzone {
	border: 0 none;
}
.THIS .commentButtons button {
	width: 175px;
	height: 48px;
	background-color: #264b89;
	color:#fff;
	line-height: 48px;
	margin-right: 10px;
	font-size: 18px;
	font-family: t(fontBold);
	text-align: center;
	border: 0 none;
	float: left;
	margin-bottom:22px;
}
.THIS.commentSectionWrapper {
	width: 100%;
	background-color: #eff2f9;
	padding: 0 0 175px 0;
}

.THIS .commentSection {
	width: 1022PX;
	margin:0 auto;
}

.THIS .commetText {
	width: 883px;
}

.THIS .commetText::placeholder
{
	color: #747474;
}

.THIS  .commentVisibility {
	display: table;
	float: left;
}
.THIS  .commentVisibility .commentVisibilityLabel {
	display: table-cell;
	float: left;
}
.THIS  .commentVisibility .label {
	position: relative;
	font-family: t(fontBold);
	top: 7px;
	left:22px;
}

.THIS  .commentVisibility .slds-radio , 
.THIS  .commentVisibility .slds-form-element__label  {
	font-size: 18px;
}

.THIS  .commentVisibility .customRadioCls  {
	display: table-cell;
	width: auto;
    max-width: auto;
    clear: none;
}

.THIS  .commentVisibility .slds-form-element__control .slds-radio {
	display: inline-block;
    clear: none;
}

.THIS .commentOverlay {
	width: 1062px;
    height: 720px;
    position: relative;
    background: rgba(255,255,255,0.65);
	z-index: 2;
	margin-bottom: -720px;
}

.THIS .overlayText {
	width: 398px;
	height: 178px;
	object-fit: contain;
	border-radius: 100px 10px 100px 100px;
	box-shadow: 0px 10px 40px 0 #d1d9ec;
	background-color: #4b6bdf;
	color:#fff;
	position: relative;
    top: 114px;
	right: 59px;
	padding: 26px 0;
} 
.THIS .overlayText span
{
	display: block;
	text-align: center;
	clear: both;
    width: 398px;
}
.THIS .overlayText .title
{
	font-size: 26px;
	font-family: t(fontBold);
}
.THIS .overlayText button
{
	width: 105px;
	height: 48px;
	background-color: #ffffff;
	margin: 0 auto;
    display: block;
	text-align: center;
	font-family: t(fontBold);
	color: #000000;
	margin-top: 14px;
	border-radius: 0;
}
.THIS .addComment .userNameIcon {
	z-index: 10;
    position: relative;
	top: -10px;
}
.THIS .tabletOnly {
	display: none;
}
.THIS H4 {
	margin-bottom: 32px;
}

.THIS .slds-file-selector {
	width: 100%;
	height: 77px;
	text-align: center;
    line-height: 70px;
}

.THIS .fileUploadField .slds-form-element__label {
	display: none;
}

.THIS lightning-primitive-file-droppable-zone
{
	width: 100%;
}

.THIS lightning-primitive-file-droppable-zone slot {
	width: 100%;
	border: dashed 2px #d2d4d9;
	background: #fff;
}

.THIS lightning-primitive-file-droppable-zone label {
	margin:0 auto;
	display: block;
	width:350px;
	padding-right: 20px;
	background-position: right;
	background-image: url(/resource/communityAssets/doc-upload.png);
	background-repeat: no-repeat;
}

.THIS lightning-primitive-file-droppable-zone .slds-button {
	border:0 none;
	float: right;
    margin-right: 16px;
    padding-right: 0;
}

.THIS .slds-button:focus{
	border: 1px solid black;
    outline-style: solid;
    outline-color: red;
}

.THIS lightning-primitive-file-droppable-zone .slds-button lightning-primitive-icon {
	display: none;
}

.THIS lightning-primitive-file-droppable-zone .slds-file-selector__text {
	margin-right: 0;
}
.THIS .addCommentBtn span {
	margin-right: 11px;
	color: #4b6bdf;
}

.THIS .noAuthSelected {
	width: 100%;
	display: inline-block;
	text-align: left;
}
.THIS .sidebar h5 {
	margin-bottom: 10px;
}

.THIS .sidebar ul {
	margin-bottom: 10px;
}

.THIS .sidebar li {
	margin-bottom: 10px;
}

.THIS .LoadMore {
	color: #000;
	margin-top: 27px;
	width: 213px;
	height: 48px;
	border: solid 1px #747474;
	background-color: rgba(255,255,255,0.5);
	font-size: 16px;
	position: absolute;
	left: calc( 50% - 105px);
}


.THIS .commentSectionTitle span {
	color: #747474;
	font-family: t(fontBold);
	min-width: 125px;
	display: inline-block;
}

.THIS .commentSectionTitle {
	margin-top: 33px;
}

.THIS .commentSectionFields {
    display: flex;
}

.THIS .commentSectionFields label {
	display: block;
	font-size: 0;
}

.THIS .commentSectionFields  .trash {
    background-image: url(/resource/communityAssets/trash.png);
    width: 35px;
    height: 46px;
    display: inline-block;
    background-repeat: no-repeat;
	background-position: center;
	background-color: Transparent;
	border: none;
}

.THIS .commentSectionFields  textarea {
    width: 714px;
	margin-right:16px;
	height: 150px;
}

.THIS .commentSectionFields  .sectionLabel {
    width: 108px;
}

.THIS .commentSections .deleted {
	display: none
}

.THIS .commentSections .errorMessage {
	display: none;
}

.THIS .commentSections .sectionMessageError .errorMessage,
.THIS .commentSections .sectionError .errorMessage
{
	text-align:right;
    color:red;
	margin-bottom: 16px;
	display: block;
}

.THIS .commentSections .sectionMessageError .errorMessage {
	padding-right: 128px;
}

.THIS .commetText textarea {
	height:230px;
}

@media only screen and (max-width: 1230px) {
	.THIS h2 {
		margin-top: 25px;
	}
	
	.THIS .typeIcon img {
		height: 32px;
	}

	.THIS.wrapper , 
	.THIS .commentSection {
		width: auto; 
		padding: 0 23px 0 17px;
	}
	.THIS .tabletOnly {
		display: inline;
	}
	.THIS .pageMain {
		display: block;

	}
	.THIS .pageMain article {
		width: 100%;
		margin:0 auto;
		display: block;
		padding-top:27px;
	}
	.THIS .sidebar {
		display: block;
		border:0 none;
		border-top:1px solid #d2d4d9;
		width: 100%;
		padding: 37px 0 20px;
		min-width: 100%;
		margin-bottom: 35px;
		overflow: hidden;
	}

	.THIS .sidebar h5 {
		display: none;
	} 

	.THIS .sidebar h4 {
		margin-bottom: 10px;
	}

	.THIS .sidebar.open
	{
		height: auto;
	}
	.THIS .sidebar.open h5 {
		font-family: t(fontNormal);
		font-size: 18px;
		display: block;
		margin-top: 25px;
	}

	.THIS .addCommentSection {
		border-top:1px solid #d2d4d9;
		background-color: #fff;
		padding:35px 0;
		width:auto;
		display: block;
		margin-top: 20px;
	}

	.THIS .commetText {
		width: auto;
	}

	.THIS .bubble {
		position: absolute;
		left: 0;
		top: 146px;
		font-size: 16px;
		line-height: 32px;
	}

	.THIS .desktopOnly {
		display: none;
	}

	.THIS .commentVisibility, 
	.THIS .commentVisibilityLabel  {
		display: block;
	}

	.THIS  .commentVisibility .commentVisibilityLabel , 
	.THIS .commentVisibility {
		display: block;
		float: none;
	}

	.THIS .commentVisibility {
		margin-top:52px;
		margin-bottom:21px;
	}

	.THIS .commentVisibility .slds-form-element__control .slds-radio {
		display: block;
		clear: both;
	}
	
	.THIS .commentVisibility .label {
		position: initial;
		top: 0;
		left: 0;
		text-align: right;
		clear: both;
		display: block;
	}

	.THIS .commentSectionFields textarea , 
    .THIS .commentSectionFields  .sectionText  {
        width: 100%;
        margin-left: 20px;
	}
	
	.THIS .fileUploadField .slds-form-element__label{
		display: block;
	}
}

@media only screen and (max-width: 950px) {
	
	.THIS .addComment {
		background: transparent;
	}

	.THIS .userNameIconWrapper {
		width: 80px;
		vertical-align: top;
		padding-top: 10px;
	}

	.THIS .userNameIconWrapper {
		width: 65px;
	}

	.THIS .addComment {
		display: block;
	}

	.THIS .addComment input {
		border-radius: 0;
		border: solid 1px #c9cdd8;
		border: solid 1px red;
	}

	.THIS .addCommentFields
	{
		width:100%;
		max-width: 100%;
		padding-right: 20px;
	}
	
	.THIS .addCommentFields
	{
		width:100%;
		max-width: 100%;
	}
	

	.THIS .slds-file-selector_files {
		width: 100%;
		min-width: 100%;
		display: block;
		line-height:30px;
		height: auto;
		background-image: url(/resource/communityAssets/attach.png);
		background-position: right;
		background-repeat: no-repeat;
		line-height: 16px;
	}

	.THIS .slds-file-selector_files .slds-file-selector__text {
		display: none;
	}

	.THIS lightning-primitive-file-droppable-zone label {
		padding-right: 25px;
		width:auto;
	}

	.THIS lightning-primitive-file-droppable-zone .slds-button {
		margin-right: 0;
	}

	.THIS lightning-primitive-file-droppable-zone slot {
		display: block;
		text-align: right;
	}
	.THIS lightning-primitive-file-droppable-zone label {
		background-image: none;
	}
	.THIS lightning-primitive-file-droppable-zone slot {
		border:0 none;
		background: transparent;

	}
	.THIS lightning-primitive-file-droppable-zone .slds-button {
		float: none;
		background: transparent;
	}
}