.THIS .myComment {
    background-color:#fff;
    width: 100%;
    margin:25px auto;
    padding: 0;
}

.THIS.filter-drafts .myComment {
    margin: 0 auto 25px;
    padding: 0 0 1px;
}

.THIS .cCmp_LawCard .cardImage {
    width:114px;
}

.THIS .myComment .cardBody
{
    padding: 0 0 20px;
}

.THIS .draft_edit {
    position: relative;
    float: left;
    width: 30px;
    display: block;
    height: 30px;
    z-index: 1;
    top: 16px;
    left: 19px;
    background-image: url(/resource/communityAssets/comment-edit.png);
    background-repeat: no-repeat;
}

.THIS .draft_edit.save {
    background-image: url(/resource/communityAssets/save.png);
    background-position: center;
}

.THIS .myComment .status {
    background-color: #edadfc;
}
.THIS .myComment .status-read {
    background-color: #71dc7b;
}
.THIS .myComment .status-unread {
    background-color: #f79797;
}

.THIS .myComment .status span {
    background-image: url(/resource/communityAssets/comment-read.png);
    background-repeat: no-repeat;
    background-position: right;
    text-align: right;
}
.THIS .myComment .status-read span {
    background-image: url(/resource/communityAssets/comment-response.png);
}
.THIS .myComment .status-unread  span {
    background-image: url(/resource/communityAssets/comment-unread.png);
    background-position: right 11px;
}

.THIS .myComment .status span {
    line-height: 51px;
    font-size: 18px;
    font-family: Assistant-Bold;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding-right: 38px;
    position: relative;
}

.THIS .LoadMore {
    color: #000;
    margin-top: 27px;
    width: 213px;
    height: 48px;
    border: solid 1px #747474;
    background-color: rgba(255,255,255,0.5);
    font-size: 16px;
    position: absolute;
    left: calc( 50% - 105px);
  }

  .THIS .cCmp_LawCard  {
      padding: 0;
  }

  .THIS .cCmp_TzkirimComment {
    background-color: #e6ebf8;
    margin: 0 85px 20px 20px;
  }
  .THIS .cCmp_LawCard .cardImage.Icon-tzkir img {
    height: 30px;
    margin-right: 10px;
    margin-top: 0px;
}
.THIS .filter {
    width: 275px;
    height: 135px;
    display: inline-block;
    background-color: #fff;
    margin-left: 27px;
    padding:25px 20px;
}

.THIS .filter.active
{
    background-color: #4b6bdf;
}

.THIS .filters :last-child {
    margin-left: 0px;
}

.THIS .filter .filterCount
{
    font-size: 42px;
    font-family: Assistant-Bold;
}

.THIS .filter .filterText
{
    color:#747474;
}

.THIS .filter.active .filterText , 
.THIS .filter.active .filterCount 
{
    color:#fff;
}

.THIS .filter {
    background-image: url(/resource/communityAssets/comment-total.png);
    background-repeat: no-repeat;
    background-position: 23px 27px;
}
.THIS .filter-replies
{
    background-image: url(/resource/communityAssets/comment-unread.png);
}

.THIS .filter-unread
{
    background-image: url(/resource/communityAssets/comment-responses.png);
}

.THIS .active.filter {
    background-image: url(/resource/communityAssets/comment-total-active.png);
}
.THIS .active.filter-replies
{
    background-image: url(/resource/communityAssets/comment-unread-active.png);
}

.THIS .active.filter-unread
{
    background-image: url(/resource/communityAssets/comment-responses-active.png);
}

.THIS .commentVisibility {
    padding-right: 90px;
    margin: 10px 0;
}

.THIS .commentVisibility  .label {
    position: relative;
    top: -8px;
    font-family: Assistant-Bold;
}

.THIS .commentVisibility .slds-form-element__label 
{
    font-size: 18px;
}

.THIS .commentVisibilityLabel ,
.THIS lightning-radio-group {
    display: inline-block;
}

.THIS lightning-radio-group  .label  {
    top: -7px;
    position: relative;
}

.THIS lightning-radio-group .slds-radio
{
    float: right;
}

.THIS lightning-radio-group  legend {
    display: none;
}

@media only screen and (max-width: 1230px) {

    .THIS .filter {
        width: 30%;
        display: inline-block;
        margin-bottom: 0px;
        margin-left: 0;
        padding: 5px;
        background-position: 17px 20px;
    }

    .THIS .filters :last-child   {
        margin-left: 0;
    }

    .THIS .filter .filterText
    {
        min-height: 55px;
    }

    .THIS .filters {
        margin: 0 auto;
        width: calc(100% - 22px);
    }
    
    .THIS .filter {     
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: calc(33% - 10px);
        margin-left: 15px;
        padding-right: 15px;
    }

    .THIS .filters .filterCount {
        order:1;
        font-size: 34px;
    }

    .THIS .filters .filterText {
        order:2;
        display: block;
        width: 100%;
    }

    .THIS .cCmp_TzkirimComment {
        margin: 0 20px 20px 20px;
        background: #fff;
        padding-right: 0;
    }
    
    .THIS .cCmp_TzkirimComment .userNameIcon ,
    .THIS .cardImage {
        display: none;
    }

    .THIS .cCmp_TzkirimComment.reply .userNameIcon {
        display: block;
    }

    .THIS .cCmp_TzkirimComment.reply {
        margin-right: 50px;
    }

    .THIS .myComment .cardBody {
        padding-right: 42px;
    }

    .THIS .commentVisibility {
        padding-right: 36px;
    }
}