.THIS.slds-datepicker{
   /* @noflip */direction: ltr !important;
}
.THIS.slds-pill{
    /* @noflip */direction: ltr !important;
}
.THIS .slds-textarea{
	height: 80px !important;
}
.THIS textarea{
	/* @noflip */direction: ltr;
}
.THIS .slds-datepicker
{
    /* @noflip */left:0 !important;
    /* @noflip */right:15px !important;
}