.THIS .searchArea {
    text-align: right;
    direction:rtl;
}

.THIS .searchArea label {
    display: none;
}
.THIS .searchBar ,
.THIS .searchBar input {
    width:1000px;
    display: inline-block;
    margin: 0;
    margin-left: -3px;
    line-height: 48px;
}

.THIS .searchBar , .THIS .searchButtonDesktop {
    vertical-align: top;
}

.THIS.results{
    font-weight: bold;
    font-size: xx-large;
}

.THIS .slds-button{
    color:white !important;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio {
    display : inline-block !important;
}
.THIS fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
    margin-right: -1%;
}
.THIS .searchButtonDesktop , 
.THIS .searchButtonMobile
{
    display: inline-block;
}
.THIS .searchButtonMobile {
    display: none;
}

.THIS .searchBtn {
    background-color: #264b89;
    height: 50px;
    border-radius:0;
    font-size:18px;
    width:121px;
}

.THIS .searchBar input::-webkit-input-placeholder { /* Edge */
    font-family: Assistant;
    font-size: 18px;
    color: #747474;
}
  
.THIS .searchBar input::placeholder {
    font-family: Assistant;
    font-size: 18px;
    color: #747474;
}

@media only screen and (min-width: 1230px) {
    .THIS.mainPage .searchBar ,
    .THIS.mainPage .searchBar input {
        width:663px;
    }
}

@media only screen and (max-width: 1230px) {
    .THIS {
        width: auto;
    }
    
    .THIS .searchBar {
        width: 400px;
        width: calc(100% - 60px);
    }

    .THIS.inHeader .searchBar {
        width: calc(100% - 45px);
    }

    .THIS .searchBar input {
        width: 100%;
    }

    .THIS .searchButtonDesktop {
        display: none;
    }

    .THIS .searchButtonMobile {
        display: inline;
    }

    .THIS .searchBtn2 {
        background-color: #264b89;
        width:48px;
        height:48px;
        border-radius:0;
    }
    

	.THIS .font-size {
		font-size: 18px;
    }
  
    .THIS .searchBar input {
        border-radius: 0;
        font-family: Assistant;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;  
        height: 48px;
        color: #747474;
    }  

    .THIS .searchBtn2 > * {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {

	.THIS .font-size {
		font-size: 22px;
    }
    .THIS .searchBar {
        padding-left: 0px;
    }

    .THIS .searchBar input {
        width:100%;
        border-radius: 0;
        font-family: Assistant;
        font-size: 16px;
        height: 48px;
        color: #747474;
    }
    .THIS .searchBar DIV {
        width: 100;
        max-width: 100%;
    }

    .THIS .searchBtn{
        height: 44px;
        border-radius:0;
        width:48px;
    }
}