.THIS .aaa{ 
    color: black;
}
.THIS .showFileIcon{
    display: compact;
}
.THIS .hideFileIcon{
    display: none;
}
.THIS .showPrivateIcon{
    display: compact;
}
.THIS .hidePrivateIcon{
    display: none;
}

.THIS .comment
{
    width: 98%;
}
.THIS .hClass {
    font-size:16px
}
.THIS .closeModalBtn {
    border: none !important;
    background: none !important;
    /*@noflip*/ right:0rem !important;
}