.THIS {
    background: #fff;
    padding: 20px 20px 100px;
}

.THIS .title {
    font-family: t(fontBold);
    line-height: 40px;
}

.THIS button.submit {
    width: 175px;
    border-radius: 0;
    background-color: #264b89;
    color:#fff;
    font-family: t(fontBold);
    line-height: 48px;
    float: left;
    margin-top: 20px;
}

.THIS .existsRule {
    max-width: 696px;
    border-radius: 5px;
    border: solid 1px #4b6bdf;
    background-color: #dae1f9;
    padding:15px 0px;
    color: #3758cf;
    margin: 10px 0;
}

.THIS .existsRule .message {
    margin: 0px 44px;
    display: block;
}

.THIS .existsRule .message span {
    display: inline-block;
    margin-left: 5px;
}

.THIS .existsRule .message span.oneword {
    margin-left: 0px;
}

.THIS .existsRule .message span.noSpace {
    margin-left: 0;
}

.THIS .existsRule .edit {
    position: relative;
    float: left;
    width: 30px;
    display: block;
    height: 30px;
    z-index: 1;
    top: 7px;
    left: 12px;
    background-image: url(/resource/communityAssets/comment-edit.png);
    background-repeat: no-repeat;
}

.THIS .existsRule .remove {
    position: relative;
    float: right;
    width: 30px;
    display: block;
    height: 30px;
    z-index: 1;
    top: 10px;
    right: -4px;
    background-image: url(/resource/communityAssets/removeNotificationRule.png);
    background-repeat: no-repeat;
}

.THIS .subTitle {
    font-size: 16px;
    color: #747474;
    display: block;
}

.THIS .subSection
{
    padding-right: 28px;
}

.THIS .addRule lightning-primitive-icon
{
    padding-left: 10px;
}

.THIS .existsRule .bold {
    font-family: t(fontBold);
}

.THIS .message li {
    list-style: decimal;
    margin-right: 16px;
    padding-right: 10px;
}

.THIS .message li span.selectedValue {
    font-family: t(fontBold);
}
/*** Overlay ***/
.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.THIS section.overlay .slds-modal__container {
    background: #fff;
    padding: 40px 64px 140px;
    width: 965px;
    min-width: 965px;
    height: auto;
    top: 131px;
    text-align: center;
    display: block;
    text-align: right;
}

.THIS section.overlay .buttons
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d2d4d9;
    right: 0;
    height: 100px;
}

.THIS section.overlay .buttons button {
    float:left;
    margin-left: 41px;
    width:173px;
}

.THIS section.overlay button.clearFilters {
    background:transparent;
    color:#4b6bdf;
    border: 0 none;
    margin-left: 10px;
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}
.THIS section.overlay {
    background-color: rgba(0,0,0,0.5);
}

.THIS section.overlay button
{
    background-color:#264b89;
    color: #ffffff;
    line-height: 48px;
    margin-top:20px;
}

.THIS section.overlay .close
{
    position: absolute;
    top: 25px;
    left: 25px;
    border: 0 none;
    color: #000;
    line-height: 18px;
    background-color: #fff;
    background-image: url(/resource/communityAssets/close.png);
    width: 20px;
    height: 20px;
}

.THIS section.overlay h3 {
    font-size: 22px;
    color:#000;
    text-align: right;
}
.THIS section.overlay h5 {
    font-size: 22px;
    color:#000;
    font-family: t(fontBold);
}


.THIS .classification-items {
    column-count: 3;
    text-align: right;
}

.THIS .classification-items > div {
    display: inline-block;
    width:250px;
    margin-bottom: 35px;
}

.THIS .modal_filters > div {
    display: table-cell;
}

.THIS .modal_filters div.right {
    width:526px;
    padding-left:10px;
}


.THIS .modal_filters input[type="text"]
{
    line-height: 48px;
    width:100%;
    height: 48px;
    padding:0 10px;
}

.THIS .modal_filters .uiInput--select.select {
   -webkit-appearance: none;
    padding: 0 10px 0 38px;
    background-image: url(/resource/communityAssets/sortOrder.png);
    background-repeat: no-repeat;
    background-position: left 6px center;
    height: 48px;
    background-size: auto;
    width: 300px;
}

.THIS .related_law_results .slds-checkbox_faux {
    margin-right:0px;
}

.THIS .related_law_results label {
    text-align: right;
    display: block;
    font-size: 18px;
    line-height: 35px;
}

.THIS .documentTypesSelector .slds-checkbox:last-child {
    margin-top: 20px;
}

.THIS .removeAllAlertsWarning {
    padding: 0 10px;
    margin: 4px 0px;
    display: inline-block;
    color: red;
}